Scrapy==2.11.2
scrapy-rotating-proxies
beautifulsoup4
chardet
mysql-connector-python
pymysql
tqdm
pandas
rarfile
py7zr
pydantic
requests[socks]
scrapy-splash
playwright==1.51.0
scrapy-playwright==0.0.43
xmltodict
aiofiles
aiohttp
aiohttp_retry
aiohttp_socks
sqlalchemy
alembic
pymorphy3
natasha
python-dotenv
patchright