scrapy<=2.5.0
scrapy-rotating-proxies
requests
requests[socks]
bs4
scrapy-splash
mysql-connector-python
pandas
pymysql
scrapy_cookies
icu
tqdm
aiofiles
aiohttp
aiohttp_retry
aiohttp_socks
xmltodict
rarfile
py7zr
icecream
aiohttp_socks
aiomysql
