scrapy
scrapy-rotating-proxies
requests
requests[socks]
bs4
scrapy-splash
mysql-connector-python
pandas
pymysql
git+https://github.com/scrapedia/scrapy-cookies.git@0.4
icu
tqdm
aiofiles
aiohttp
aiohttp_retry
aiohttp_socks
xmltodict
rarfile
py7zr
icecream
aiohttp_socks
aiomysql
chardet
pytest-playwright
scrapy_playwright